@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --default-font-size: 16px;
    --font-color: #000000;
    --backround: #ffffff;
    --druh-pisma: 'Inter', sans-serif;
}

html {
    font-size: var(--default-font-size);
}

*, *::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--druh-pisma);
    }

img {
    max-width: 100%;
}
