@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --default-font-size: 18px;
    --druh-pisma: 'Inter', sans-serif;
    --pozadí-app: #f4f4f4;
    --pozadi-nav: rgba(0, 0, 0, 0.9);
    --pozadi-zapati: #212121;
    --pozadi-elemntu: #ffffff;
    --pozadi-tlacitek: #000000;
    --pozadi-zprava-uspech: #337d19;
    --pozadi-zprava-chyba: #8a1c1c;

    --barva-pisma-sekundarni: #ffffff;
    --barva-primarni: #000000;
    --barva-pisma-neaktivni: #6f6f6f;
    --barva-ramecku: #343434;

    --vrzeny-stin: #rgba(0, 0, 0, 0.25);
}

html {
    font-size: var(--default-font-size);
}

*, *::before, ::after {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    
    font-family: var(--druh-pisma);
    font-size: 1.123rem;
    background-color: var(--pozadí-app);

}

body, input, button {
    font-family:  var(--druh-pisma);
    font-size: 1.125rem;
}

img {
    max-width: 100%;
    flex-direction: column;

    input {
        border: 1px solid var(--barva-ramecku);
    }
}

form {
    display: flex;
    flex-direction: column;

    label {
        margin-top: 1.875rem;
        margin-bottom: 1rem;

        &:first-of-type {
            margin-top: 0;
        }
    }

    input {
        width: 29.75rem;
        padding: 0.875rem;
        border: 1px solid var(--barva-pisma-neaktivni)
    }

    input[type="submit"] {
        border: none;
        background-color: var(--pozadi-tlacitek);
        color: var(--barva-pisma-sekundarni);
        font-weight: 600;

        margin-top: auto;
    }
        
        
}

.karta-clanku {
    background-color: var(--pozadi-elemntu);
    width: 33.333rem;
    max-width: 100%;

    display: flex;
    gap: 1.25rem;

    > img {
        width: 38%;
        border-radius: 2rem;
    }

}
