@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --default-font-size: 18px;
    --druh-pisma: 'Inter', sans-serif;
    --pozadí-app: #f4f4f4;
    --pozadi-nav: rgba(0, 0, 0, 0.9);
    --pozadi-zapati: #212121;
    --pozadi-elemntu: #ffffff;
    --pozadi-tlacitek: #000000;
    --pozadi-zprava-uspech: #337d19;
    --pozadi-zprava-chyba: #8a1c1c;

    --barva-pisma-sekundarni: #ffffff;
    --barva-primarni: #000000;
    --barva-pisma-neaktivni: #6f6f6f;
    --barva-ramecku: #343434;

    --vrzeny-stin: #rgba(0, 0, 0, 0.25);
}

html {
    font-size: var(--default-font-size);
}

*, *::before, ::after {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    font-family: var(--druh-pisma);
    background-color: var(--pozadí-app);
}

img {
    max-width: 100%;
}

.karta-clanku {
    background-color: var(--pozadi-elemntu);
    width: 33.333rem;
    max-width: 100%;

    display: flex;
    gap: 1.25rem;

    > img {
        width: 38%;
    }

}
