<nav class="navigace-admin">
    <a href="{{ path('app_posts_admin') }}">Články</a>
    <a href="">Kategorie</a>
    <a href="">Komentáře</a>
    <a href="">Uživatelé</a>
    <a href="{{ path('app_logout') }}">Odhlásit se</a>
</nav>
