{% extends 'base.html.twig' %}

{% block body %}
    {% include 'components/public/header.html.twig' %}
    
    <main class="vypis-clanku">
        <div id="clanky">
            {% for post in posts %}
                {% include 'components/public/post_card.html.twig' %}
            {% endfor %}
        </div>
    </main>

    {% include 'components/public/footer.html.twig' %}
{% endblock %}
